        <script>
            page.background = "img/Haze.jpg";
        </script>

        <section class="content center bg border-left border-right border-bottom border-shadow">
            <header class="font">
                About me
            </header>

            <article>
                <p>
                    I was born in small town called Lieksa in eastern Finland. I grew up and went to school there. 
                    After my military service on 2007 I moved to Riihim&auml;ki to study.
                </p>
                <p>
                    I studied media technology at HAMK University of Applied Sciences and graduated on 2011.
                    Right when I graduated, I found the most awesome job from Helsinki on <a href="http://www.smilehouse.fi/">Smilehouse Oy</a>. 
                    Currently I work there as a software developer and work on various webshop projects.
                </p>
                <p>
                    Also I love travelling.
                </p>
            </article>
            
            <figure class="clear"></figure>
            
            <h1 class="font border-bottom">Contact info</h1>
            <img class="right" src="https://lh3.googleusercontent.com/-JgyLm2NH8RY/AAAAAAAAAAI/AAAAAAAAAXg/5hJlWqsU-mk/s200-c-k/photo.jpg" alt="Me" title="Me" />
            
            <article>
                <figure>
                    <figcaption>Name</figcaption>
                    Hannu K&auml;rkk&auml;inen
                </figure>
                <figure>
                    <figcaption>Phone</figcaption>
                    &plus;358 405076991
                </figure>
                <figure>
                    <figcaption>Email</figcaption>
                    <a href="mailto:hannu.karkkainen@gmail.com">hannu.karkkainen gmail.com</a>
                </figure>
                <figure>
                    <figcaption title="IRC">Nick</figcaption>
                    Hellenic
                </figure>
                <figure>
                    <figcaption>Networks</figcaption>
                    <a href="https://plus.google.com/109155080585767802819/"><img src="img/gp.png" alt="Google+" title="" /></a>
                    <a href="http://www.facebook.com/hannu.karkkainen"><img src="img/fb.jpg" alt="Facebook" title="" /></a>
                </figure>
            </article>
            
            <figure class="clear"></figure>
            
            <footer class="font i">
                &quot;Traveller soul + Samurai heart&quot;
            </footer>
        </section>