        <aside class="font">
            <header class="bg border-right border-bottom border-shadow" title="Homepage of Hannu Kärkkäinen">
                HK
            </header>
            <nav class="bg border-top border-right border-bottom border-shadow">
                <ul>
                    <li><a href="/HK/?page=home">About me</a></li>
                    <li><a href="/HK/?page=cv">CV</a></li>
<!--                    <li><a href="misc" rel="gallery" title="Miscellaneous">Gallery</a></li>-->
                    <li><a href="/HK/?page=works">Works</a></li>
<!--                    <li><a href="/HK/?page=sitemap">Sitemap</a></li>-->
                </ul>
            </nav>
            <footer class="bg border-top border-right border-shadow">
                <a href="/">The Blankpace.net</a><br />
<!--                <div class="small">06.02.2012</div>-->
                <pre class="hack the world">
 . 
  .
...
                </pre>
                <!-- http://www.catb.org/hacker-emblem/ -->
            </footer>
        </aside>