        <section class="content center bg border-left border-right border-bottom border-shadow">
            <header class="font">
                Sitemap
            </header>

            <article>
                <h1 class="font">About me</h1>
                <h1 class="font">CV</h1>
                <h1 class="font">Gallery</h1>
                <h1 class="font">Works</h1>
                <div class="section" data-for="Works">
                    <figure>
                        <figcaption>Test</figcaption>
                        Test
                    </figure>
                </div>
                
                <h1 class="font">Sitemap</h1>
                
                <figure class="break"></figure>
                
                <h1 class="font">Temp</h1>
                <h1 class="font"><a href="/Archive/OldBlankpace/hk/">Old site</a></h1>
            </article>

            <figure class="clear"></figure>

            <footer class="font">
                Footer
            </footer>
        </section>