<header class="font large">
	Gallery // Cargo ship
</header>

<article class="gallery">
	<a href="pics/CargoShip/Ship001.png" rel="shadowbox[CargoShip]"><img class="left" src="pics/CargoShip/thumb/Ship001.png" alt="CargoShip"></a>
    <a href="pics/CargoShip/Ship002.png" rel="shadowbox[CargoShip]"><img class="left" src="pics/CargoShip/thumb/Ship002.png" alt="CargoShip"></a>
    <a href="pics/CargoShip/Ship003.png" rel="shadowbox[CargoShip]"><img class="left" src="pics/CargoShip/thumb/Ship003.png" alt="CargoShip"></a>
    <a href="pics/CargoShip/Ship004.png" rel="shadowbox[CargoShip]"><img class="left" src="pics/CargoShip/thumb/Ship004.png" alt="CargoShip"></a>
    <a href="pics/CargoShip/Ship005.png" rel="shadowbox[CargoShip]"><img class="left" src="pics/CargoShip/thumb/Ship005.png" alt="CargoShip"></a>
    <a href="pics/CargoShip/Ship006.png" rel="shadowbox[CargoShip]"><img class="left" src="pics/CargoShip/thumb/Ship006.png" alt="CargoShip"></a>
    <a href="pics/CargoShip/Ship007.png" rel="shadowbox[CargoShip]"><img class="left" src="pics/CargoShip/thumb/Ship007.png" alt="CargoShip"></a>
</article>