<h1>Storytime</h1>
<p class="lead">Interactive storybook</p>
<p>
	This is a interactive storybook. With the Storybook it's possible to make stories where 
	user doesn't just read the stories but also takes part in them.
</p>
<p>
	In story it's possible to ask user some questions and use the answers later as a part of the story. 
	Also you can make some puzzles what user has to solve to get forward. 
	User can also make choices how to go forward, so the story can have different branches.
</p>

<div class="panel panel-primary">
	<div class="panel-heading">
		<h3 class="panel-title">Stories</h3>
	</div>
	<div class="panel-body">
		<div class="row form-inline story-listing" ng-repeat="story in stories | orderBy:orderProp">
			
			<div class="col-md-3">
				<a href="#/story/{{story.id}}">
					<img ng-src="img/{{story.image}}" />
				</a>
			</div>
			<div class="col-md-4">
				<h4>{{story.name}}</h4>
				<article>
					{{story.description}}
				</article>
			</div>
			
		</div>
	</div>
</div>