<div class="content">
	<h1>Curriculum Vitae.</h1>

	<h2 class="text-center">Personal information</h2>

	<div data-context="Personal information">
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Name</dt>
				<dd><strong>Hannu K&auml;rkk&auml;inen</strong></dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Email</dt>
				<dd><a href="mailto:hannu.karkkainen@gmail.com">hannu.karkkainen@gmail.com</a></dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Nationality</dt>
				<dd>Finnish</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Native language</dt>
				<dd>Finnish</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Date of birth</dt>
				<dd>26.06.1987</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Gender</dt>
				<dd>Male</dd>
			</dl>
		</div>
	</div>

	<h2 class="text-center">Work experience</h2>
	<div data-context="Work experience">

		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Employer</dt>
				<dd>Tieto Oyj, Industrial Internet start-up</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dd>18.01.2016 till today</dd>
				<dt>Date</dt>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Description</dt>
				<dd>
					<p>Working in a 3-member 'hack team' in Tieto's Industrial Internet startup, building super-quick prototypes and demos around the area of Internet of Things for different cases and customers. Work requires decent technical and business understanding as the team is quite independent and the tasks vary from business proposals to hardware installations.</p>
					<p>On the technical side focusing on the web stack and visualizations but tasks vary from server setup, data processing and sensor architecture to 3D models. Participating in hackathons (and organizing them), consulting customers from both technology and business perspective and innovating new use cases for existing technologies. Concretely demonstrating (both internally and to the customers) how modern technology can be easily and quickly utilized to change and find new ways of working.</p>
				</dd>
			</dl>
		</div>

		<hr />

		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Employer</dt>
				<dd>Smilehouse Oy</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Date</dt>
				<dd>16.05.2011 - 15.01.2016</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Occupation</dt>
				<dd>
					<ul>
						<li>2011: Software Developer</li>
						<li>2012: Lead Developer</li>
						<li>2013: Technical Lead</li>
						<li>2015: Digital Technology Specialist <small>(technical consultant)</small></li>
					</ul>
				</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Description</dt>
				<dd>Started as a developer and soon after took responsibilities of a lead dev.
					After a while, took more responsibilities over specifications and customer collaboration as well.
					During the last year, was working together with collegue to start new
					part of business around cutting edge 3rd party commerce technologies to satisfy
					customers' growing business requirements. It was my responsibility
					to find the best technologies suitable for our company and the
					customers, and then consult the customer to make the
					best possible use of the technology.
				</dd>
			</dl>
		</div>

		<hr />

		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Employer</dt>
				<dd>Genimate Ltd., Helsinki, Lauttasaari</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Date</dt>
				<dd>01.02.2010 - 30.04.2010 + Bachelor's thesis</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Main activities</dt>
				<dd>Development of a coin counter's calibration application</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Description</dt>
				<dd>
					Application has web interface that allows user to send commands to
					coin counter and shows the response. Thesis was made for project
					documentation. Application was developed with Java.
				</dd>
			</dl>
		</div>

		<hr />

		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Employer</dt>
				<dd>Siemens Oy, Espoo, Leppävaara</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Date</dt>
				<dd>02.06.2008 - 29.08.2008</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Main activities</dt>
				<dd>Database updates and upkeep, collecting system information (Windows, HP-UX, Unix, Solaris, AIX) and updating, analyzing and checking of configuration information</dd>
			</dl>
		</div>

		<hr />

		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Employer</dt>
				<dd>Fortek Oy, Lieksa (pankakoski)</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Date</dt>
				<dd>05.06.2006 - 01.12.2006</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Main activities</dt>
				<dd>Updating information management system (SAP)</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Description</dt>
				<dd>Collecting information and updating it to SAP-system and helping IT-support person. Also some word processing and use of other office programs.</dd>
			</dl>
		</div>
	</div>

	<h2 class="text-center">Education</h2>
	<div data-context="Education">

		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Certificate</dt>
				<dd>Certified Intershop Frontend developer</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Date</dt>
				<dd>Apr 2015</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Education</dt>
				<dd>Intershop Frontend developer training</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Date</dt>
				<dd>Nov 2014</dd>
			</dl>
		</div>

		<hr />

		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Certificate</dt>
				<dd>Certified hybris Platform Core developer</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Date</dt>
				<dd>Jul 2014</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Education</dt>
				<dd>hybris Platform Core &amp; eCommerce Training</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Date</dt>
				<dd>Jan 2013</dd>
			</dl>
		</div>

		<hr />

		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Title</dt>
				<dd>Media technology, engineer</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Dates</dt>
				<dd>01.09.2007 - 10.06.2011</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Main subject</dt>
				<dd>Software technology</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>School</dt>
				<dd>HAMK University of Applied Sciences, Riihimäki</dd>
			</dl>
		</div>

		<hr />

		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Title</dt>
				<dd>Information technology, datanome</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Dates</dt>
				<dd>06.08.2003 - 02.06.2006</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>School</dt>
				<dd>Northern Karelia vocational school, Lieksa</dd>
			</dl>
		</div>
	</div>

	<h2 class="text-center">Skills</h2>
	<div data-context="Skills">
		<h3>I am at my best with</h3>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Web technologies</dt>
				<dd>JavaScript, Node.js, HTML5, CSS3, Ajax, WebGL, Websocket, Canvas, LocalStorage</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>JavaScript</dt>
				<dd>React.js, AngularJS, jQuery, Knockout.js, Backbone.js, Bacon.js, Three.js, Mustache.js, etc.</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>JS testing</dt>
				<dd>JQunit, Karma, Protractor, Mocha, Chai...</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Web tools</dt>
				<dd>Yeoman.io, Gulp, Webpack, Grunt</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Languages</dt>
				<dd>Python, Java, C&sharp;</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Templates</dt>
				<dd>JSP, Velocity, PHP</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-12">
				<dt>Popular frameworks</dt>
				<dd>Spring (MVC, DI), Hibernate, Web services, Servlets, EHCache, Android SDK</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Testing</dt>
				<dd>TDD, BDD, JUnit, Mockito</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Techniques</dt>
				<dd>OOA &amp; OOD, OOP, UML, Design patterns, Agile, Scrum, DSDM Atern</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Databases</dt>
				<dd>MongoDB, CouchDB, MySQL, SQL, PostgreSQL</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Servers</dt>
				<dd>Linux, nginx, Apache, MySQL, Tomcat, Jetty, Solr</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Productivity</dt>
				<dd>Ant, Gradle, Maven, Ansible</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>CI</dt>
				<dd>Jenkins</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Versioning</dt>
				<dd>Git, SVN, CVS</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Project management</dt>
				<dd>JIRA, Bitbucket, Confluence</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Platforms</dt>
				<dd>Node RED, IBM Bluemix, Azure, Cumulocity, hybris, Intershop</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>3rd party APIs</dt>
				<dd>Google API, Facebook API ...</dd>
			</dl>
		</div>

		<h3>Also I want to mention</h3>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Scripting</dt>
				<dd>Lua, bash</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Integrations</dt>
				<dd>XSLT, SOAP, REST, Web services</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Languages</dt>
				<dd>Python, C, ASP, JSP Visual Basic, Qbasic</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Mobile</dt>
				<dd>Java ME, Android</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Other frameworks</dt>
				<dd>.NET, Adobe AIR, XNA</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>Miscellaneous</dt>
				<dd>Internet of things, sensors, XML, XAML, LAMP</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>Multimedia / RIA</dt>
				<dd>Silverlight, ActionScript, Flex, Flash</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>3D softwares/frameworks</dt>
				<dd>3DS Max, Blender, OGRE</dd>
			</dl>
		</div>
		<div class="row">
			<dl class="dl-horizontal col-md-6">
				<dt>3D techniques</dt>
				<dd>Modeling, rigging, animation, texturing, movie match</dd>
			</dl>
			<dl class="dl-horizontal col-md-6">
				<dt>IDEs</dt>
				<dd>Visual Studio, NetBeans, Eclipse</dd>
			</dl>
		</div>

		<hr />
	</div>

	<p>
	I'm always up for new challenges!
	If you have a freelance job that could use the skills I have, please feel free to contact me.
	Some of my work samples you can find from <a href="?work" data-href="components/work.html">work-section</a>.
	</p>

</div>
