<div class="cover">
	
	<p class="lead">Playing around with fractal flames.</p>
	<img src="img/gallery/apophysis.jpg" data-image-preview="img/gallery/apophysis-big.jpg" />
	<p><a href="https://plus.google.com/photos/109155080585767802819/albums/6006935935600882673" class="btn btn-lg btn-default">More on Google&plus;</a></p>
	<hr />
	
	<p class="lead">3D renders and videos, mostly made as a hobby or at school.</p>
	<img src="img/gallery/3d.jpg" data-image-preview="img/gallery/3d-big.jpg" />
	<p><a href="https://plus.google.com/photos/109155080585767802819/albums/6006929691137808545" class="btn btn-lg btn-default">More on Google&plus;</a></p>
	<hr />
	
	<p class="lead">Game development made with C++ and DarkGDK.</p>
	<p>I started one RPG game and one space flight &quot;Multiverse&quot;. However, they were just a tests so they will never be ready.</p>
	<img src="img/gallery/game-dev.jpg" />
<!-- 	data-image-preview="img/gallery/game-dev-big.jpg" -->
	<p><a href="https://plus.google.com/photos/109155080585767802819/albums/6006933513751151489" class="btn btn-lg btn-default">More on Google&plus;</a></p>
	
</div>