<div class="cover">
	<h1>. // Greetings</h1>

	<p class="lead">I was born in small town called Lieksa in eastern
		Finland. I grew up and went to school there. After my military service
		on 2007 I moved to Riihim&auml;ki to study.</p>
	<p class="lead">
		I studied media technology at HAMK University of Applied Sciences and
		graduated on 2011. Right when I graduated, I moved to Helsinki to work as a
		software developer. Since then, I've been working as a Lead developer,
		solution architect and technical consultant.
	</p>
	<p class="lead">
		Currently I hack with Internet of Things and cutting-edge web tech while
		building stunning demos and prototypes for different customers and cases,
		to show just how much can be actived with modern technology.
	</p>
	<p class="lead">Also I love travelling.</p>
</div>
