<div class="content">
	<h1 class="text-center">My works</h1>
	<p class="lead">
		This page contains links to all kinds of stuff I've done.
		Most of the projects are done just to learn more about that language or technique.
	</p>

	<h2>Games</h2>
	<dl class="dl-horizontal">
		<dt><a href="/Cardeon/" data-image-preview="img/cardeon-big.jpg">Cardeon</a></dt>
		<dd>
			Browsed-based card game made with JavaScript and HTML5, using technologies such as WebGL and Websocket.
			Server-side written with Java using Spring MVC &amp; DI, Hibernate and Bristleback for Websocket.
			Database in MySQL and webapp running on Jetty.
		</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt><a href="#">NatureQuiz</a></dt>
		<dd>
			Quiz game for Android to test your knowledge on most common nature-related things!
			Game will show you pictures and you need to write in the answer.
			Read more about the game in a <a href="http://blog.karkk.ai/2015/05/naturequiz.html">blog post</a>.
			Source code you can find on <a href="https://github.com/Hellenic/NatureQuiz">Github</a>.<br />
			<a href="https://play.google.com/store/apps/details?id=net.blankpace.naturequiz">
				<img alt="Get it on Google Play" src="https://developer.android.com/images/brand/en_generic_rgb_wo_45.png" />
			</a><br />
			Web version on the works as well; <a href="/NatureQuiz/">NatureQuiz web app</a>.
		</dd>
	</dl>

	<h2>HTML5</h2>
	<dl class="dl-horizontal">
		<dt><a href="/HT/">HourTrap 2.0</a></dt>
		<dd>
			<strong>HTML time tracking</strong><br />
			Simple time tracking software to try out AngularJS.
			It even saves your tasks when you close the browser, without relying on server.
		</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt><a href="/Story/">Interactive stories</a></dt>
		<dd>
			Interactive stories with multiple endings -- or at least possibility for it.
			It doesn't have many stories (yet?) but many interesting features, like user input and choices, which can
			affect the story.
		</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt><a href="/" data-image-preview="img/menu-big.jpg">Blankpace.net</a></dt>
		<dd>
			<strong>3D menu system.</strong><br />
			This whole domain is mine and it contains quite a lot of stuff, so it needed cool menu for the domain index.
			Menu is made with Three.js.
		</dd>
	</dl>

	<h2>Demos</h2>
	<dl class="dl-horizontal">
		<dt><a href="http://www.youtube.com/watch?v=fkjkpl1v8ks" data-image-preview="img/chelonia-big.jpg">Chelonia</a></dt>
		<dd>
            Chelonia is a short demo I made to learn more about programming. Code is written on C++.
            Graphics are rendered with <a href="http://www.ogre3d.org/">OGRE</a> and music is played with
            <a href="http://www.ambiera.com/irrklang/">irrKlang</a>.<br />
            <a href="http://www.youtube.com/watch?v=fkjkpl1v8ks" data-image-preview="img/chelonia-big.jpg">Watch on YouTube</a><br />
		</dd>
	</dl>
	<dl class="dl-horizontal">
		<dt><a href="/Demos/" data-image-preview="img/demos-big.jpg">WebGL demos</a></dt>
		<dd>
			Recently I've been experimenting with Javascript &amp; WebGL. WebGL allows 3D to be used in a browser.
			It is starting to be quite widely supported and some amazing things can be done with it.
			Experiments can be found <a href="/Demos/">here</a>. A bit bigger project is a game
			what I am working on. It will be short game / interactive demo, totally in 3D and from first person.
			You can check the progress in here: <a href="http://karkk.ai//nen/CargoShip/">The Cargo Ship</a>.
		</dd>
	</dl>

	<h2>Other projects</h2>
	<dl class="dl-horizontal">
		<dt><a href="#" data-slideshow="arcade-cabinet" data-image-preview="img/arcade-cabinet-big.jpg">Arcade cabinet</a></dt>
		<dd>
			I started my gaming with Commodore and Amiga, also I've always been into arcade games. I've also always liked to build stuff.
			So I decided to combine these too and build myself a arcade cabinet. Final result is quite pleasing I might say.
			<a href="https://plus.google.com/photos/109155080585767802819/albums/5963219847728104273"
				data-image-preview="img/arcade-cabinet-big.jpg"
				data-slideshow="arcade-cabinet">Check out the pictures</a>.
			Here's also a <a href="http://blog.karkk.ai/search/label/arcade">short blog post</a> of the building process.
		</dd>
	</dl>

	<br />
	<h3><a href="?gallery" data-href="components/galleries.html">Also checkout my gallery!</a> <span class="small">More games and graphics there</span></h3>

</div>
