<h3 class="font">Demos</h3>
    <img alt="Chelonia demo" src="img/chelonia.jpg" width="664" height="250" />

    <p>
            Chelonia is a short demo I made to learn more about programming. Code is written on C++. 
            Graphics are rendered with <a href="http://www.ogre3d.org/">OGRE</a> and music is played with <a href="http://www.ambiera.com/irrklang/">irrKlang</a>.
    </p>
    <p>
            <a href="http://www.youtube.com/watch?v=fkjkpl1v8ks">Watch on YouTube</a><br />
    </p>
    
    <h4>WebGL</h4>
    <p>
        Recently I've been experimenting with Javascript & WebGL. Some previews can be found <a href="http://blankpace.net/Demos/">here</a>.
    </p>