<h3 class="font">HTML5 & JavaScript</h3>
    <h4>HTML5 time tracking // HourTrap 2.0</h4>
    <p>
        Made a simple time tracking software while testing AngularJS. It even saves your tasks when you close the browser,
        without relying on server. Application can be found <a href="http://blankpace.net/HT/">here</a>.
    </p>
    
<!--
    <h4>Interactive story</h4>
    <p>
        It's almost like a book, but it isn't. It's a bit like a game but not quite.
        <a href="http://blankpace.net/Story/">Try it out.</a>
    </p>
-->