        <section class="content center bg border-left border-right border-bottom border-shadow">
            <header class="font">
                Domain content
            </header>
        </section>

        <figure class="clear"></figure>
         
        <section class="content center choose">
            <figure class="choice font bg border-left border-top border-right border-bottom border-shadow">
                <h2><a href="/Cardeon/">Cardeon</a></h2>
            </figure>
            
            <figure class="choice font bg border-left border-top border-right border-bottom border-shadow">
                <h2><a href="/HK/">HK</a></h2>
            </figure>
            
            <figure class="choice font bg border-left border-top border-right border-bottom border-shadow">
                <h2><a href="/Demos/">Demos</a></h2>
            </figure>
            
            <?php
            /*
            <figure class="choice font bg border-left border-top border-right border-bottom border-shadow">
                <h2><a href="/Travel/">Travel!</a></h2>
            </figure>
            */
            ?>
            
        </section>
        <figure class="clear"></figure>
            
        <section class="content center bg border-left border-top border-right border-bottom border-shadow">
            <header class="font">
                Old stuff
            </header>
        </section>
        
        <figure class="clear"></figure>
        
        <section class="content center choose">
            <figure class="choice-small font bg border-left border-top border-right border-bottom border-shadow">
                <h2><a href="/dduo/">DynamicDuo</a></h2>
                FFXI Stuff
            </figure>
            
            <figure class="choice-small font bg border-left border-top border-right border-bottom border-shadow">
                <h2><a href="/ppallot/forum/">PlussaPallot</a></h2>
                FFXI Linkshell
            </figure>
            
            <figure class="choice-small font bg border-left border-top border-right border-bottom border-shadow">
                <h2><a href="/Archives/Blankpace2011/">Old Blankpace</a></h2>
            </figure>
        </section>