        <script>
            page.background = "img/Haze3.jpg";
            page.content.width = "900px";
        </script>

        <section class="content center bg border-left border-right border-bottom border-shadow">
            <header class="font">
               Curriculum Vitae
            </header>
            
            <article class="cv">
                <h1 class="font border-bottom" title="Toggle visibility">Personal information</h1>
                <div class="section" data-for="Personal information">
                    <figure>
                        <figcaption>Name</figcaption>
                        Hannu Antero K&auml;rkk&auml;inen</figure>
                    <figure>
                        <figcaption>Address</figcaption>
                        Kyyhkysm&auml;ki 9 A 2</figure>
                    <figure>
                        <figcaption>&nbsp;</figcaption>
                        02650 Espoo, Finland</figure>
                    <figure>
                        <figcaption>Phone</figcaption>
                        &plus;358 40 507 6991
                    </figure>
                    <figure>
                        <figcaption>Email</figcaption>
                        <a href="mailto:hannu.karkkainen@gmail.com">hannu.karkkainen gmail.com</a>
                    </figure>
                    <figure>
                        <figcaption>Nationality</figcaption>
                        Finnish
                    </figure>
                    <figure>
                        <figcaption>Native language</figcaption>
                        Finnish
                    </figure>
                    <figure>
                        <figcaption>Date of birth</figcaption>
                        26.06.1987
                    </figure>
                    <figure>
                        <figcaption>Gender</figcaption>
                        Male
                    </figure>
                </div>
                
                <h1 class="font border-bottom" title="Toggle visibility">Work experience</h1>
                <div class="section hide" data-for="Work experience">
                    <div class="one">
                        <figure>
                            <figcaption>Employer</figcaption>
                            Smilehouse Oy
                            </figure>
                        <figure>
                            <figcaption>Date</figcaption>
                            16.05.2011 till today
                        </figure>
                        <figure>
                            <figcaption>Occupation</figcaption>
                            Software developer (Web / Java)
                        </figure>
                        <figure>
                            <figcaption>Description</figcaption>
                            I work on webshop customizations for various customers. Work contains server-side Java EE (+ Spring, Hibernate) but also frontend. Frontend includes JSP, Velocity, Javascript (jQuery) but also some HTML and CSS.
                        </figure>
                    </div>
                    <div class="one">
                        <figure>
                            <figcaption>Employer</figcaption>
                            Genimate Ltd., Helsinki, Lauttasaari
                            </figure>
                        <figure>
                            <figcaption>Date</figcaption>
                            01.02.2010 - 30.04.2010 &plus; Bachelor's thesis
                        </figure>
                        <figure>
                            <figcaption>Main activities</figcaption>
                            Development of a coin counter's calibration application
                        </figure>
                        <figure>
                            <figcaption>Description</figcaption>
                            Application has web interface that allows user to send commands to 
                            coin counter and shows the response. Thesis was made for project documentation. 
                            Application was developed with Java.
                        </figure>
                    </div>
                    <div class="one">
                        <figure>
                            <figcaption>Employer</figcaption>
                            Siemens Osakeyhti&ouml;, Espoo, Lepp&auml;vaara
                            </figure>
                        <figure>
                            <figcaption>Date</figcaption>
                            02.06.2008 - 29.08.2008
                        </figure>
                        <figure>
                            <figcaption>Main activities</figcaption>
                            Database updates and upkeep, collecting system information 
                            (Windows, HP-UX, Unix, Solaris, AIX) and updating, analyzing 
                            and checking of configuration information
                        </figure>
                    </div>
                    <div class="one">
                        <figure>
                            <figcaption>Employer</figcaption>
                            Fortek Oy, Lieksa (pankakoski)
                            </figure>
                        <figure>
                            <figcaption>Date</figcaption>
                            05.06.2006 - 01.12.2006
                        </figure>
                        <figure>
                            <figcaption>Occupation</figcaption>
                            Updating information to upkeep system (SAP)
                        </figure>
                        <figure>
                            <figcaption>Main activities</figcaption>
                            Collecting information and updating it to SAP-system and helping IT-support person. 
                            Also some word processing and use of other office programs.
                        </figure>
                    </div>
                    <div class="one">
                        <figure>
                            <figcaption>Employer</figcaption>
                            Tietotapio Ky, Lieksa
                            </figure>
                        <figure>
                            <figcaption>Date</figcaption>
                            01.02.2006 - 01.05.2006
                        </figure>
                        <figure>
                            <figcaption>Main activities</figcaption>
                            Assembling and maintenancing computers, hardware and software troupleshooting and some customer service. 
                            This period of work was part of school's practical training.
                        </figure>
                    </div>
                </div>
                
                <h1 class="font border-bottom" title="Toggle visibility">Education</h1>
                <div class="section hide" data-for="Education">
                    <div class="one">
                        <figure>
                            <figcaption>Dates</figcaption>
                            Jan 2013
                        </figure>
                        <figure>
                            <figcaption>Title</figcaption>
                            hybris Platform Core &amp; eCommerce Training
                        </figure>
                    </div>
                    <div class="one">
                        <figure>
                            <figcaption>Dates</figcaption>
                            01.09.2007 - 10.06.2011
                        </figure>
                        <figure>
                            <figcaption>Title</figcaption>
                            Media technology, engineer
                        </figure>
                        <figure>
                            <figcaption>Main subject</figcaption>
                            Software technology
                        </figure>
                        <figure>
                            <figcaption>Name</figcaption>
                            HAMK University of Applied Sciences, Riihim&auml;ki
                        </figure>
                    </div>
                    <div class="one">
                        <figure>
                            <figcaption>Dates</figcaption>
                            06.08.2003 - 02.06.2006
                        </figure>
                        <figure>
                            <figcaption>Title</figcaption>
                            Information technology, datanome
                        </figure>
                        <figure>
                            <figcaption>Name</figcaption>
                            Northern Karelia vocational school, Lieksa
                        </figure>
                    </div>
                </div>
                
                <h1 class="font border-bottom" title="Toggle visibility">Skills</h1>
                <div class="section hide" data-for="Skills">
                    <div class="one">
                        <figure>
                            <figcaption>Languages</figcaption>
                            Java, C&plus;&plus;, C&sharp;, PHP
                        </figure>
                        <figure>
                            <figcaption>Web technologies</figcaption>
                            Javascript (incl. AJAX, jQuery & jQuery UI, Three.js, Mustache, WebGL)
                            <br />JSP, Velocity, HTML5, XHTML, CSS3
                        </figure>
                        <figure>
                            <figcaption>Web frameworks</figcaption>
                            Spring (MVC, DI), Hibernate
                        </figure>
                        <figure>
                            <figcaption>Databases</figcaption>
                            MySQL, SQL, PostgreSQL
                        </figure>
                        <figure>
                            <figcaption>Servers</figcaption>
                            Linux (Apache, MySQL, Tomcat, Jetty), Windows Server
                        </figure>
                        <figure>
                            <figcaption>Misc</figcaption>
                            Web service, Servlet
                        </figure>
                    </div>
                    <div class="one">
                        <figure>
                            <figcaption>Other studied languages</figcaption>
                            Python, C, ASP, JSP <small>Visual Basic, Qbasic</small>
                        </figure>
                        <figure>
                            <figcaption>Scripting</figcaption>
                            Lua, bash
                        </figure>
                        <figure>
                            <figcaption>Mobile</figcaption>
                            Java ME
                        </figure>
                        <figure>
                            <figcaption>IDEs</figcaption>
                            Visual Studio, NetBeans, Eclipse
                        </figure>
                        <figure>
                            <figcaption>Techniques</figcaption>
                            Object-oriented programming, Agile, Scrum
                        </figure>
                        <figure>
                            <figcaption>Frameworks</figcaption>
                            .NET, Adobe AIR, XNA
                        </figure>
                        <figure>
                            <figcaption>Engines</figcaption>
                            OGRE, Solr
                        </figure>
                        <figure>
                            <figcaption>Integrations</figcaption>
                            XSLT, SOAP
                        </figure>
                        <figure>
                            <figcaption>Miscellaneous</figcaption>
                            XML, XAML, LAMP
                        </figure>
                    </div>
                    <div class="one">
                        <figure>
                            <figcaption>Multimedia / RIA</figcaption>
                            Silverlight, ActionScript, Flex, Flash
                        </figure>
                        <figure>
                            <figcaption>3D softwares</figcaption>
                            3DS Max, Blender
                        </figure>
                        <figure>
                            <figcaption>3D techniques</figcaption>
                            Modeling, rigging, animation, texturing, movie match
                        </figure>
                    </div>
                </div>
                
                <h1 class="font border-bottom" title="Toggle visibility">Other skills</h1>
                <div class="section hide" data-for="Other skills">
                    <div class="one">
                        <figure>
                            <figcaption>Technical skills</figcaption>
                            My knowledge with computers is very good thoroughly, 
                            hardware and software. I can handle office programs very efficiently. 
                            I'm familiar with Linux &amp; Windows servers.
                        </figure>
                        <figure>
                            <figcaption>Driving license</figcaption>
                            B
                        </figure>
                    </div>
                </div>
            </article>

            <figure class="break"></figure>
            
            <article>
                I'm always up for new challenges! If you have a freelance job that could use the skills I have, please feel free to contact me. 
                Some of my work samples you can find from <a href="/NewBlankpace/HK/?page=works">work-section</a>.
            </article>
            
            <figure class="clear"></figure>
        </section>