        
        <script>
            page.background = "img/bg2.jpg";
            page.content.width = "900px";
        </script>

        <section class="content center bg border-left border-right border-bottom border-shadow">
            <header class="font">
                Gallery
            </header>

            <article class="gallery">
                <img class="left" src="https://lh3.googleusercontent.com/-JgyLm2NH8RY/AAAAAAAAAAI/AAAAAAAAAXg/5hJlWqsU-mk/s200-c-k/photo.jpg" alt="Me" title="Me" />
                <img class="left" src="https://lh3.googleusercontent.com/-JgyLm2NH8RY/AAAAAAAAAAI/AAAAAAAAAXg/5hJlWqsU-mk/s200-c-k/photo.jpg" alt="Me" title="Me" />
                <img class="left" src="https://lh3.googleusercontent.com/-JgyLm2NH8RY/AAAAAAAAAAI/AAAAAAAAAXg/5hJlWqsU-mk/s200-c-k/photo.jpg" alt="Me" title="Me" />
                <img class="left" src="https://lh3.googleusercontent.com/-JgyLm2NH8RY/AAAAAAAAAAI/AAAAAAAAAXg/5hJlWqsU-mk/s200-c-k/photo.jpg" alt="Me" title="Me" />
                <img class="left" src="https://lh3.googleusercontent.com/-JgyLm2NH8RY/AAAAAAAAAAI/AAAAAAAAAXg/5hJlWqsU-mk/s200-c-k/photo.jpg" alt="Me" title="Me" />
                <img class="left" src="https://lh3.googleusercontent.com/-JgyLm2NH8RY/AAAAAAAAAAI/AAAAAAAAAXg/5hJlWqsU-mk/s200-c-k/photo.jpg" alt="Me" title="Me" />
                <img class="left" src="https://lh3.googleusercontent.com/-JgyLm2NH8RY/AAAAAAAAAAI/AAAAAAAAAXg/5hJlWqsU-mk/s200-c-k/photo.jpg" alt="Me" title="Me" />
                <img class="left" src="https://lh3.googleusercontent.com/-JgyLm2NH8RY/AAAAAAAAAAI/AAAAAAAAAXg/5hJlWqsU-mk/s200-c-k/photo.jpg" alt="Me" title="Me" />
            </article>

            <figure class="clear"></figure>
        </section>