        <script>
            page.background = "img/Haze2.jpg";
        </script>

        <section class="content center bg border-left border-right border-bottom border-shadow">
            <header class="font">
                My Works
            </header>
            
            <article>
                This page contains links to all kinds of stuff I've done. 
                Well, of course, these pages are one of them but here are some other projects. 
                Most of the projects are done just to learn more about that language or technique.
            </article>
            
            <div class="break"></div>

            <article class="works">
                <h2 class="font"><a href="/Cardeon/">Cardeon</a></h2>
                <p>Browsed-based card game made with Javascript and HTML and server-side with Java.</p>
                
                <h1 class="font border-bottom" title="Toggle visibility">Code</h1>
                <div class="section" data-for="Code">
                	<h2 class="font"><a rel="slider" href="components/code/html5.html">HTML5</a></h2>
                    <h2 class="font"><a rel="slider" href="components/code/demos.html">Demos</a></h2>
                    <h2 class="font"><a rel="slider" href="components/code/cpp.html">C++</a></h2>
                    <h2 class="font"><a rel="slider" href="components/code/csharp.html">C#</a></h2>
                </div>
                
                <h1 class="font border-bottom" title="Toggle visibility">Graphics</h1>
                <div class="section" data-for="Graphics">
                    <h2 class="font"><a rel="slider" href="components/graphics/3D.html">3D</a></h2>
                    <h2 class="font"><a rel="gallery" href="components/graphics/renders.html" title="3D renders">3D renders</a></h2>
                    <h2 class="font"><a rel="gallery" href="components/graphics/apophysis.html" title="Apophysis">Apophysis</a></h2>
                </div>
                
                <h1 class="font border-bottom" title="Toggle visibility">Misc</h1>
                <div class="section" data-for="Misc">
                    <h2 class="font"><a rel="slider" href="components/misc/misc.html">Miscellaneous</a></h2>
                    <h2 class="font"><a href="/Archives/Blankpace2011/hk/myworks">All old works</a></h2>
                </div>
            </article>

            <figure class="clear"></figure>
        </section>