
<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
<table width='100%' cellpadding='0' cellspacing='0'>
<!-- ENDheader -->
  <!-- channel -->
  <tr>
     <td rowspan='0' align='left' valign='bottom'><font face='Verdana, Arial, Helvetica, sans-serif' size='2'>{chanlogo}</font></td>
  </tr>
  <tr>
     <td align='right' valign='top'><h1><font face='Verdana, Arial, Helvetica, sans-serif' size='2'><a href='{chanlink}' title='{chandesc}' target='_blank'><b>{chantitle}</b></a></font>
            <a href='{moreurl}'><img src='../../staticpages/easynews/news/images/plus.gif' border='0' alt='more'  title='All stored news from this feed' /></a>
            <a href='{hideurl}'><img src='../../staticpages/easynews/news/images/minus.gif' alt='hide' border='0' /></a>&nbsp;<br></h1>
     </td>
  </tr>
  <tr>
    <td height='12' align='right' valign='middle'><font color='#006699' size='1' face='Verdana, Arial, Helvetica, sans-serif'> last updated: {lastupdated}</font></td>
 </tr>
  <!-- ENDchannel -->
  <!-- news -->
  <tr align='left' valign='middle'>
     <td bgcolor='#FFFFFF' align='left'><a name="{id}{title}"></a><font face='Verdana, Arial, Helvetica, sans-serif' size='2'>&nbsp;<b><a href='{link}' title='{link}' target='_blank'>{title}</a></b></font></td>
  </tr>
  <tr align='left'>
     <td bgcolor='#FBFBFB'><font face='Verdana, Arial, Helvetica, sans-serif' size='2'>&nbsp;{description}</font></td>
  </tr>
  <tr align='left' valign='middle'>
     <td bgcolor='#ffffff' align='center'><font face='Verdana, Arial, Helvetica, sans-serif' size='2'> &nbsp;<a href='{link}' title='{link}' target='_blank'>{pubdate}</a></font></td>
  </tr>
  <!-- ENDnews -->
<!-- footer -->
</table>
<!-- ENDfooter -->
<!-- between -->
<br />
<!-- ENDbetween -->








