
<!-- zFeeder template header -->
<!-- ENDzFeeder template header -->

<!-- header -->
<table width='100%' cellpadding='0' cellspacing='0'>
<!-- ENDheader -->
  <!-- channel -->
  <tr>
    <td height='12' align='right' valign='top' ><div id='left'>{chanlogo}</div></td>
 </tr>
  <tr>
     <td align='right' valign='bottom'   id='tdgray'><div id='h2odashed'><font  face="Verdana, Arial, Helvetica, sans-serif"  size="+1"><a href='{chanlink}' title='{chandesc}' target='_blank'><b>{chantitle}</b></a></font>&nbsp;<a href='{moreurl}'><img src='../../staticpages/easynews/news/images/plus.gif' border='0' alt='more'  title='All stored news from this feed' /></a><a href='{hideurl}'><img src='../../staticpages/easynews/news/images/minus.gif' alt='hide' border='0' /></a></div>&nbsp;
      <font color='#006699' size='1' face='Verdana, Arial, Helvetica, sans-serif'> last updated: {lastupdated}</font></td>
  </tr>
  <!-- ENDchannel -->
  <!-- news -->
  <tr align='left' valign='middle'>
     <td  id='tdgray' align='left'><div id='link1'><a name="{id}{title}"></a><font face="Verdana, Arial, Helvetica, sans-serif" size="2" color="#000066"><b><a href='{link}' title='{link}' target='_blank'>{title}</a></b></font></div></td>
  </tr>
  <tr align='left'>
     <td id='tdgray' ><div id='link1'><font face="Courier, Times New Roman, Times, serif" size="3">{description}</font></div></td>
  </tr>
  <tr align='left' valign='middle'>
     <td id='tdgray'  align='center'><font face="Times New Roman, Times, serif" size="2" color="#990000"><a href='{link}' title='{link}' target='_blank'>{pubdate}</a></font></td>
  </tr>
  <!-- ENDnews -->
<!-- footer -->
  <tr align='left' valign='middle'>
     <td id='tdgray'  align='center'>&nbsp;</td>
  </tr>
</table>
<!-- ENDfooter -->
<!-- between -->
<br />
<!-- ENDbetween -->

