<h3 class="font">C&sharp;</h3>

    <p>
        Little projects I've made with C#. Programs need at least .NET Framework installed.
    </p>

    <h2>Alarmer</h2>
    <p>
        Simple alarmer. Input the time and press start and the countdown will begin.
        When time reaches 0, alarm sound will play and the timer stops.
    </p>

    <p>
    <a href="material/Alarmer.zip">
        <img src="img/alarmer.jpg" alt="Alarmer" title="Alarmer screenshot" width="306" height="186" />
        <p>Download</p>
    </a>